.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
}

@media (max-width: 456px) {
  header {
    flex-direction: column;
  }
}
